/* link styles */

.header {
    background: #fff;
    height: 80px; 
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-nav {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
    gap: 50px;
    margin-right: 340px;
}
.header-list_contacts {
    display: flex;
    gap: 48px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        color: #2196f3;
        margin-right: 90px;
}
.header-logo span {
    color: #000;
}

.header-link {
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
            color: #212121;
            transition-property: color;
            transition-duration: 0500ms;
}

.header-link:hover {
    color: #2196F3;
}

.email-info, .phone-info {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    transition-property: color;
    transition-duration: 500ms;
}

.email-info:hover, .phone-info:hover {
    color: #2196F3;
}
                      
.hero-title {
    font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 44px;
        line-height: 136%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        width: 696px;
        margin-bottom: 40px;
        
}
.main-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("./img/ludi.png");
    height: 600px;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75) inset;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

.main-hero .container {
    flex-direction: column;
    align-items: center;
}

.button {
    border: none;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    box-shadow: 0px 0px 49px 0px rgba(0,240,255,0.74) inset;
-webkit-box-shadow: 0px 0px 49px 0px rgba(0,240,255,0.74) inset;
-moz-box-shadow: 0px 0px 49px 0px rgba(0,240,255,0.74) inset;
    background: #2196f3;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
}

.section-features {
    padding-bottom: 95px;
    padding-top: 95px;
}

.features-list {
    display: flex;
    gap: 50px;
}

.features-item {
    width: 270px;
}

.features-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700; 
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 20px;
    
}

.features-box {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    fill: black;
    width: 70px;
    height: 70px;
}
.img2 {
    fill: black;
    width: 70px;
    height: 70px;
}
.img3 {
    fill: black;
    width: 70px;
    height: 70px;
}
.img4 {
    fill: black;
    width: 70px;
    height: 70px;
}
.features-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
}

.gallery .container {
    flex-direction: column;
    align-items: center;
}

.gallery-list {
    display: flex;
    gap: 30px;
    margin-bottom: 95px;
}

.gallery-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
    margin-bottom: 50px;
}

.gallery-item{
    background-image: url(./img/ipad.jpg);
    width: 370px;
    height: 294px;
    display: block;
    position: relative;
}

.gallery-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    color: #fff;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
}

.team .container{
    display: flex;
    margin-bottom: 95px;
    flex-direction: column;
}
.team-item {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        background: #fff;
}
.team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
    margin-bottom: 95px;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
    margin-bottom: 10px;
}
.team-role {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #757575;
    margin-bottom: 30px;
}

.socials {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    margin-left: 44px;
    margin-bottom: 42px;
    transition-property: fill;
    transition-duration: 350ms;
}

.socials:hover {
    background-color: #2196F3;
    fill: #ffffff;
    
    transition-property: background-color;
    transition-duration: 350ms;
}

.clients-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 94px;
}

.clients-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
    margin-bottom: 50px;
}

.clients-icon {
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
        transition-property: fill; 
        transition-duration: 500ms;
        
}

.clients-icon:hover {
    fill: #2196F3;
}

.clients-list {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contacts {
    background: #2f303a;
    
}
.contacts .container {
    display: flex;
    align-items: baseline;
}
.contacts-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
    margin-bottom: 20px;
}
.contacts-list {
    display: flex;
    gap: 9px;
    flex-direction: column;
}
.contacts-address {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #fff;
}
.contacts-info {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-phone {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.join {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 3%;
    color: #fff;
    
    
    bottom: 72px;
    text-transform: uppercase;
}

.socials-list {
    display: flex;
    gap: 10px;
}

.socials-item {
    fill: #AFB1B8;
}

.socials-contacts {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    transition-property: fill;
    transition-duration: 350ms;
    margin-top: 20px;
}

.socials-contacts:hover {
    fill: #2196F3;
}

.subscribe {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #fff;
    
}

.subscribe-input {
    border-radius: 4px;
    width: 300px;
    height: 40px;
    border: none;
    padding-left: 12px;
    transition-property: outline;
    transition-duration: 350ms;
}

.subscribe-button {
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    background: #2196f3;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    color: #fff;
}

.gallery-image {
    gap: 30px;
    width: 370px;
    height: 294px;
}
.team-foto { 
    width: 270px;
    margin-bottom: 30px;
}

.backdrop {
    background-color: #0c070879;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.model {
    width: 528px;
    height: 581px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    
}

.model-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
}

.model-icon {
    width: 20px;
    height: 20px;
    fill: gray;
    transition-property: fill;
    transition-duration: 350ms;
}

.model-button:hover {
    .model-icon {
        fill: #2196F3;
    }
}

.model-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 12px;
}
.model-label {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575;
    display: inline-block;
    margin-bottom: 4px;
    position: relative;
}

.model-input {
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: none;
    padding-left: 42px;
    transition-property: outline;
    transition-duration: 350ms;
}

.model-input:hover,
.model-input:focus {
    outline: 1px solid #2196F3;
}

.model-comment {
    display: block;
    width: 100%;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    margin-top: 4px;
margin-bottom: 20px;
}

.model-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-check {
    width: 16px;
    height: 15px;

}

.model-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 9px;
    margin-right: 4px;
}

.model-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.model-submit {
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
    background: #2196f3;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.model-pic {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 30px;
    left: 12px;
    fill: gray;
}

.model-input:hover + .model-pic,
.model-input:focus + .model-pic {
    fill: #2196F3;
}
/* portfolio */
/* portfolio */
/* portfolio */
/* portfolio */
/* portfolio */
/* portfolio */
/* portfolio */
/* portfolio */
/* portfolio */
.section-hero {
    padding-top: 94px;
    padding-bottom: 50px;
}

.section-hero .container {
    justify-self: center;
    padding: 0;
}
.hero-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.hero-item a {
    font-family: "Roboto", sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em; */
    color: #212121;
    background-color: #F5F4FA;
    text-transform: capitalize;
    padding: 6px 22px;
    
font-weight: 500;
font-size: 16px;
line-height: 163%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}   

.hero-item a:hover {
    color: #fff;
    background-color: #2196F3;
    border-radius: 4px;
}
.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials-list {
    display: flex;
    flex-basis: calc((100% - 60px) / 3);
    gap: 30px;
    
    
    flex-wrap: wrap;
    margin-bottom: 95px;
}
.testimonials-foto {
    width: 370px;
    height: 294px;
    overflow: hidden;
    
}

.testimonials-foto img {
    width: 100%;
    height: auto;
}

.testimonials-item h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 15px;
}



.testimonials-item p {
    text-transform: capitalize;
    color: #757575;
    

}

.testimonials-item:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
background: #fff;
.testemonial-text {
    opacity: 1;
    transform: translateY(0);
    
}
}



.testimonials-box {
    position: relative;
    overflow: hidden;
}

.testemonial-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #fff;
    padding: 63px 24px;
    opacity: 0;
    transform: translateY(100%);
    transition-property: opacity, transform;
    transition-duration: 250ms;
}

.testimonials-info {
    padding: 20px 24px;
}