.features {
    padding-bottom: 95px;
    padding-top: 95px;


    &__list {
    display: flex;
    gap: 30px;
    }

    &__item {
    width: 270px;
    }

    &__box {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    &__img1 {
    fill: black;
    width: 70px;
    height: 70px;
    }
    
    &__img2 {
    fill: black;
    width: 70px;
    height: 70px;
    }

    &__img3 {
    fill: black;
    width: 70px;
    height: 70px;
    }

    &__img4 {
    fill: black;
    width: 70px;
    height: 70px;
    }

    &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700; 
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 20px;
    
    }

    &__description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
    }

    
}










