@use"../base/variables" as *;

.header {
    background: $main-color;
    height: 80px; 

& .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


&__webstudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: $accent-color;
    margin-right: 90px;
}

&__webstudio span {
    color: $logo-color;
}

&__nav {
    display: flex;
    align-items: center;
}


&__list {
    display: flex;
    gap: 50px;
    margin-right: 315px;
}

&__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

&__link {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: $title-color;
        transition: color 250ms;
        position: relative;

        &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -31px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    opacity: 0;
    transition: opacity 250ms;
}

&:hover {
    color: $accent-color;
}

&:hover::after {
    opacity: 1;
}

}







&__contacts {
    display: flex;
    gap: 30px;
}

&__info {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $text-color;
    transition-property: color;
    transition-duration: 500ms;
    &:hover {
    color: $accent-color;
}
}



&__eicon {
    display: flex;
    flex-direction: column;
    fill: $text-color;
    width: 16px;
    height: 12px;
    transition-property: fill;
    transition-duration: 250ms;
}

&__picon {
    display: flex;
    flex-direction: column;
    fill: $text-color;
    width: 10px;
    height: 16px;
    transition-property: fill;
    transition-duration: 250ms;
}

}

























