@use"../base/variables" as *;

.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../img/ludi.png");
    padding-top: 118px;
    padding-bottom: 118px;
    // @extend %indents-on-sections;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75) inset;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

     @media screen and (min-width: 768px) {
        padding-bottom: 200px;
        padding-top: 200px;
    }


     &__title {
    font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 26px;
        line-height: 136%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: $main-color;
        width: 360px;
        margin-bottom: 30px;
        
        @media screen and (min-width: 768px) {
            width: 696px;
            font-size: 44px;
    }
    }
    &__button {
    border: none;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    background: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: $main-color;
    }
    
    & .container {
    flex-direction: column;
    align-items: center;
    }



}

