@use"../base/variables" as *;

.testimonials {
    padding-bottom: 94px;

    &__list {
    display: flex;
    // flex-basis: calc((100% - 60px) / 3); 
    gap: 27px;
    flex-wrap: wrap;
    }

    &__item {
    border: solid 1px $border-card;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    &:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    background: $main-color;
    .testimonials__text {
    opacity: 1;
    transform: translateY(0);
    color: $main-color;
    }
    }
    }

    &__box {
    position: relative;
    overflow: hidden;
    }

    &__foto {
    width: 370px;
    height: 294px;
    overflow: hidden;

    .testemonials img {
    width: 100%;
    height: auto;
    }
    }

    &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: $main-color;
    padding: 63px 24px;
    opacity: 0;
    transform: translateY(100%);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    }

    &__info {
    padding: 20px 24px;
    }

    &__name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: $titlw-color;
    margin-bottom: 15px;
    }

    &__role {
    text-transform: capitalize;
    color: $text-color;
    }
}























